/*google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

/*asterisk wildcard command to override defauly browser styless*/
* {
    padding:0;
    margin:0;
    box-sizing:border-box;
}

/*generic body style*/
body {
    min-height:100vh;
    display:flex;
    flex-direction:column;
    font-family:Rajdhani, sans-serif;
    max-width:100vw;
}

h1 {
    text-transform: uppercase;
}

/*header*/
header {
    background-color:rgba(180, 230, 173, 0.596);
    text-align:center;
}

#menu {
    display:flex;
    justify-content: space-around;
    border: 2px solid rgb(68, 177, 94);
    list-style-type: none;
    padding: 0 1rem;

}



/*main content*/
main {
    /*ensures main content takes up full page space*/
    flex: 1 0 auto;
    background-color: rgba(180, 230, 173, 0.596);
}

#hero-image {
    width: 100%;
    height: 100px;
    background: url("../images/hero-image.jpg") no-repeat center center/cover;
    position: relative;
}

#intro {
    text-align:center;
    margin-top:50px;
    padding:10px;
}

/*seperates sub-heading from main text*/
#intro-break{
    border: 1px solid #000000;
    margin: 15px;
}

#intro-images {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

}

/*image formatted to be circular, and fit centrally on the page*/
#intro-image-1 {
    background:url(../images/intro-image-one.jpeg) no-repeat top center / cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    border-radius: 50%;
    max-width: 200px;
    max-height: 200px;
    
}

/*footer*/
footer {
    background-color:lightgoldenrodyellow;
}