/*google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

/*asterisk wildcard command to override defauly browser styless*/
* {
    padding:0;
    margin:0;
    box-sizing:border-box;
}

/*generic body style*/
body {
    min-height:100vh;
    display:flex;
    flex-direction:column;
    font-family:Rajdhani, sans-serif;
    max-width:100vw;
}

h1 {
    text-transform: uppercase;
}

/*header*/
header {
    background-color:rgba(180, 230, 173, 0.596);
    text-align:center;
    border-bottom: 2px solid #000000;
}

header a {
    text-decoration: none;
    font-weight: bolder;
    color:#000000;
    
}

#menu {
    display:flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0 1rem;
    margin-bottom: 4px;

}

.active {
    border-bottom: 2px solid #000000;
}

/*main content*/
main {
    /*ensures main content takes up full page space*/
    flex: 1 0 auto;
    background-color: rgba(180, 230, 173, 0.596);
}

#hero-image {
    width: 100%;
    height: 150px;
    background: url("../images/hero-image.jpg") no-repeat center center/cover;
    position: relative;
}

#intro {
    text-align:center;
    margin-top:50px;
    padding:10px;
}

/*seperates sub-heading from main text*/
#intro-break{
    border: 1px solid #000000;
    margin: 15px;
}

/*flex display setting for home page intro section images*/
#intro-images {
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
    padding: 10px;

}

#intro-image-1 {
    background:url(../images/intro-image-1.jpeg) no-repeat top center / cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    border-radius: 50%;
    max-width: 200px;
    max-height: 200px;
}

#intro-image-2 {
    background: url(../images/intro-image-2.jpg) no-repeat top center / cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    border-radius: 50%;
    max-width: 200px;
    max-height: 200px;
}

#intro-image-3 {
    background: url(../images/intro-image-3.jpg) no-repeat top center / cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    border-radius: 50%;
    max-width: 200px;
    max-height: 200px;
}



/*footer*/
footer {
    background-color:lightgoldenrodyellow;
}


/* Tablet and larger media query */
@media screen and (min-width: 768px)
{
    #intro-images div {
        margin:20px;
    }
}

/* Desktop and larger media query */
@media screen and (min-width: 992px) {
    #intro-images div {
        margin:40px;
    }
}